<h2 class="page-header">New Author</h2>
<!-- route to create a new author -->
<form action="/authors" method="post"> 

    <!-- render form from _form_field.ejs -->
    <div class="form-row">
        <div class="form-item">
            <label for="">Name</label>
            <input type="text" name="name" value="<%= author.name %>">
        </div>
    </div>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-primary" href="/authors">Cancel</a>
        <button class="btn btn-delete" type="submit">Create</button>
    </div>
</form>